@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=vietnamese');

html {
    font-size: calc((1px + ((100vw - 1920px) / 1920) * 1));
}

@font-face {
    font-family: GTAmerian;
    src: url(../fonts/FS-GT-America-Thin.ttf);
}

@font-face {
    font-family: GTAmerianBold;
    src: url(../fonts/FS-GT-America-Bold.ttf);
}

@font-face {
    font-family: GTAmerianBlack;
    src: url(../fonts/FS-GT-America-Black.ttf);
}

* {
    margin: 0;
}

body {
    font-size: 16rem;
    margin: 0;
    color: #343333;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    &.overflow-hidden{
        overflow: hidden !important;
    }
    p{
        font-size: 16rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'GTAmerianBlack', sans-serif;
}

input,
textarea {
  outline: none;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: inherit;
    transition-property: all;
    transition-delay: 99999s;
    -webkit-transition-delay: 99999s;
  }
}

.fp-auto-height {
    height: auto !important;
}

img {
    max-width: 100%;
}

.slick-slider {
    * {
        user-select: auto;

        &:focus {
            outline: none;
        }

    }
}

ul {
    padding: 0;

    li {
        padding: 0;
        list-style: none;
    }
}

a {
    text-decoration: none;
    color: #343333;
}


.fpt-b-container {
    max-width: 1500rem;
    margin: 0 auto;
    padding: 0 20rem;
}
.mobile-hide{
    display: inherit !important;
}
.desktop-hide{
    display: none !important;
}
.fpt-change-page {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #ef3e2e;
    z-index: 999;
    transform: translateY(100%);

    figure {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 800rem;
        width: 60%;
    }
}

.fpt-loading-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #ef3e2e;
    z-index: 999;
    figure {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 800rem;
        width: 60%;
    }

}
.hide-loading-lottie{
    .fpt-change-page{
        transform: translateY(0);
        transition: transform 1s cubic-bezier(0.52, 0.01, 0.16, 1);
    }
}

.hide-loading{
    .fpt-loading-wrapper{
        transform: translateY(-100%);
        transition: transform 1s cubic-bezier(0.52, 0.01, 0.16, 1);
    }
}

// component-------------------------------
.fpt-close {
    width: 45rem;
    height: 45rem;

    span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0;

        &::before, &::after {
            content: '';
            width: 100%;
            height: 2rem;
            position: absolute;
            top: 50%;
            left: 0;
            transition: 0.34s cubic-bezier(0.52, 0.01, 0.16, 1);
            -webkit-backface-visibility: hidden;
            background-color: #fff;
        }

        &:first-child {
            &::before {
                transform: rotate(45deg) translateX(0) scaleX(1);
                transition-delay: 0.12s;
                background-color: #858585;
            }

            &::after {
                transform: rotate(-45deg) translateX(0) scaleX(1);
                transition-delay: 0.22s;
                background-color: #858585;
            }
        }

        &:nth-child(2) {
            &::before {
                transform: rotate(45deg) translateX(-70%) scaleX(0);
            }

            &::after {
                transform: rotate(-45deg) translateX(-70%) scaleX(0);
            }
        }
    }

    &:hover {
        span {
            &:first-child {
                &::before {
                    transform: rotate(45deg) translateX(70%) scaleX(0);
                    transition-delay: 0s;
                }

                &::after {
                    transform: rotate(-45deg) translateX(70%) scaleX(0);
                    transition-delay: 0s;
                }
            }

            &:nth-child(2) {
                &::before {
                    transform: rotate(45deg) translateX(0) scaleX(1);
                    background-color: #858585;
                    transition-delay: 0.22s;
                }

                &::after {
                    transform: rotate(-45deg) translateX(0) scaleX(1);
                    background-color: #858585;
                    transition-delay: 0.32s;
                }
            }
        }
    }
}
.confirm-container{
    margin-bottom: 40rem;
    h2{
        font-size: 50rem;
        margin-bottom: 12rem;
    }
    p{
        font-size: 16rem;
    }
}
.fpt-button {
    display: inline-block;
    font-weight: 700;
    font-size: 14rem;
    height: 55rem;
    line-height: 55rem;
    padding: 0 55rem;
    border-radius: 8rem;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    transition: 0.1s ease-in-out;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        background-color: white;
        color: #343333;
        transition: 0.1s ease-in-out;
    }
}

.fpt-image {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease-in-out;
    background-position: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.fpt-arrow {
    color: white;
    position: fixed;
    top: 50%;
    left: 60rem;
    transform: translateY(-50%);
    z-index: 8;
    width: 90rem;
    text-align: center;
    a {
        display: block;
        padding-bottom: 20rem;
        position: relative;
        margin-bottom: 20rem;
        font-size: 14rem;
        text-align: center;
        overflow: hidden;
        &::after {
            content: "";
            width: 40rem;
            height: 2rem;
            background-color: white;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        img {
            width: 35rem;
            transition: 0.3s ease-in-out;
            &:first-child{
                opacity: 1;
            }
            &:last-child{
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 170%);
                transition: .34s cubic-bezier(.52,.01,.16,1);
                opacity: 0;
            }
        }

        &.arrow-down {
            padding-top: 20rem;
            padding-bottom: 0;
            margin-top: 20rem;

            img{
                &:last-child{
                    transform: translate(-50%, -170%);
                    transition: .34s cubic-bezier(.52,.01,.16,1);
                    opacity: 0;
                }
            }
            &::after {
                content: "";
                width: 40rem;
                height: 2rem;
                background-color: white;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &:hover{
                img{
                    transform: translateY(5rem);
                    transition: 0.3s ease-in-out;
                    &:first-child{
                        transform: translateY(170%);
                        transition: .34s cubic-bezier(.52,.01,.16,1);
                        opacity: 0;
                    }
                    &:last-child{
                        transform: translateY(0);
                        transition: .34s cubic-bezier(.52,.01,.16,1);
                        transform: translate(-50%, 0);
                        transition-delay: .12s;
                        opacity: 1;
                    }
                }
            }
        }
        &:hover{
                img{
                    &:first-child{
                        transform: translateY(-170%);
                        transition: .34s cubic-bezier(.52,.01,.16,1);
                        opacity: 0;

                    }
                    &:last-child{
                        transform: translateY(0);
                        transition: .34s cubic-bezier(.52,.01,.16,1);
                        transform: translate(-50%, -60%);
                        transition-delay: .12s;
                        opacity: 1;

                    }

                }
            
        }
    }

    h6 {
        text-transform: uppercase;
        font-size: 14rem;
        display: inline-block;
        width: 80rem;
    }
}

.hamburger {
    width: 44rem;
    height: 44rem;
    transform: rotate(0);
    z-index: 1;
    margin-right: 25rem;

    span {
        display: block;
        position: absolute;
        height: 6rem;
        width: 100%;
        background: white;
        opacity: 1;
        left: 0;
        transform: rotate(0);
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 17rem;
            background-color: white;
        }

        &:nth-child(3) {
            top: 34rem;
        }
    }

    &.disalbed {
        span {
            background: #c7c7c7;

            &:nth-child(2) {
                background-color: #c7c7c7;
            }
        }
    }
}

header {
    .fpt-head {
        position: fixed;
        z-index: 21;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 60rem 70rem 0 60rem;
        box-sizing: border-box;
        width: auto;
        transition: 0.4s ease-in-out;
        .fpt-left {
            display: flex;
            align-items: flex-start;
            z-index: 2;
            a {
                display: inline-block;
                margin-right: 60rem;
                transition:  0.3s ease-in-out;
                img {
                    width: 70rem;
                    filter: brightness(90);
                }
                &:hover{
                    opacity: 0.8;
                    transition:  0.3s ease-in-out;
                    filter: initial;

                }
                .fpt-logo-no-text{
                    display: none;
                }
            }

            .fpt-menu {
                display: flex;
                align-items: center;
                margin-top: 30rem;

                a {
                    display: block;
                    margin-right: 25rem;
                }

                h6 {
                    color: white;
                    text-transform: uppercase;
                    font-size: 20rem;
                }
            }
        }
    }
}

.fpt-scroll-down{
    header{
        .fpt-head{
            background-color: black;
            padding: 15rem;
            transition: 0.4s ease-in-out;
            .fpt-left{
                a{
                    margin-right: 40rem;
                    img{
                        display: none !important;
                    }
                    .fpt-logo-no-text{
                        display: inherit !important;
                        width: 46rem;                    
                    }
                }

                .fpt-menu{
                    margin-top: 4rem;
                    a{
                        margin-right: 0;
                    }
                    h6{
                        display: none;
                    }
                }
            }
        }
    }
}

.homePage,
.newsPage,
.studentPage,
.projectPage,
.lecturerPage,
.careerDetailPage,
.contactPage,
.programPage{
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
    }
}
.programDetailPage{
    .section{
        margin-bottom: 40rem;
        &:first-child, &:last-child{
            margin-bottom: 0;
        }
    }
}

footer {
    background-color: #161616;
    padding: 19rem 0;
    z-index: 12;

    .fpt-b-container {
        padding: 0 70rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        .fpt-left {
            a {
                img {
                    width: 210rem;
                }
            }
        }

        .fpt-right {
            color: white;

            .fpt-sns {
                margin-bottom: 12rem;
                display: flex;
                vertical-align: middle;

                span {
                    font-weight: 700;
                    font-size: 14rem;
                    line-height: 29rem;
                    padding-right: 130rem;
                    display: inline-block;
                    position: relative;

                    &::after {
                        content: "";
                        background-color: white;
                        position: absolute;
                        right: 20rem;
                        top: 50%;
                        height: 1px;
                        width: 95rem;
                    }
                }

                ul {
                    li {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 18rem;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            img {
                                height: 18rem;
                                filter: brightness(90);
                            }
                            &:hover{
                                img{
                                    filter: inherit;

                                }
                            }
                        }
                    }
                }
            }

            p {
                font-size: 14rem;
                text-align: right;;
            }
        }
    }
}

.active {
    &.fp-completely {
        .fpt-left-content {
            &.animationIsActive {
                .animaiton-wrap {
                    h2, .sub-content, .fpt-button {
                        transition: transform 0.65s cubic-bezier(0.62, 0.02, 0.34, 1);
                        transform: translate3d(0, 0, 0);
                    }

                    .sub-content {
                        transition-delay: 0.12s;
                    }

                    .fpt-button {
                        transition-delay: 0.24s;
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }
}

.fpt-left-content {
    color: white;

    h2 {
        font-size: 56rem;
        max-height: 184rem;
        margin-bottom: 48rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        transform: translate3d(0, 200%, 0);
        transition: transform 0.65s cubic-bezier(0.62, 0.02, 0.34, 1);

    }

    .animaiton-wrap {
        overflow: hidden;
        box-sizing: border-box;
        h2, .sub-content, .fpt-button {
            transform: translate3d(0, 200%, 0);
            transition: transform 0.65s cubic-bezier(0.62, 0.02, 0.34, 1);
        }

        .title {
            margin-bottom: 48rem;
        }
    }

    .fpt-category {
        font-size: 14rem;
        text-transform: uppercase;
        height: 36rem;
        line-height: 36rem;
        display: inline-block;
        padding: 0 30rem;
        margin-bottom: 28rem;
        font-weight: 700;
        color: inherit;
        border-radius: 18rem;
    }

    h6 {
        font-size: 30rem;
        margin-bottom: 16rem;
    }

    ul {
        margin-bottom: 30rem;

        li {
            margin-bottom: 16rem;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-size: 18rem;
                font-weight: 700;
                display: block;
                &:first-child {
                    position: relative;
                    font-weight: normal;
                    margin-bottom: 12rem;

                }
            }
        }
    }
    .job-info{
        li{
            display: inline-block;
            margin-right: 30rem;
            margin-bottom: 12rem;
            span{
                font-size: 18rem;
                font-weight: 700;
                display: inline-block;
                vertical-align: middle;
                &:first-child {
                    position: relative;
                    font-weight: normal;
                    padding-right: 130rem;
                    margin-bottom: 0;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 50%;
                        display: inline-block;
                        width: 90rem;
                        height: 1px;
                        background-color: white;
                        right: 20rem;
                    }

                }
            }
        }
    }
    .fpt-b-editor{
        margin-bottom: 24rem;
    }

    p {
        font-size: 20rem;
        margin-bottom: 24rem;
    }

}

.fpt-b-main-content {
    display: flex;
    height: 100%;
    overflow: hidden;
    flex-direction: row-reverse;
    .fpt-b-left {
        width: 50%;
        padding: 210rem 100rem 0 200rem;
        box-sizing: border-box;
        z-index: 2;
    }

    .fpt-b-right {
        width: 50%;
        position: relative;
        overflow: hidden;
    }
}
.careerDetailPage{
    .fpt-b-main-content{
        flex-direction: inherit;

    }
}


.video-background {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 1;
    transition: 1s ease-in-out;
    .video-foreground,
    .video-background {
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 100%;
            pointer-events: none;
            transform: scale(1.5);
      
        }
    }
  }

@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
  }
.fpt-b-main-content.isActive {
    .video-background {
        opacity: 1;
        transition: 1s ease-in-out;
        transition-delay: 0.12s;
      }
    
    .fpt-image {
        filter: blur(0);
        opacity: 1;
        transition-delay: 0.12s;
        transition: 1s ease-in-out;
        transform: scale(1);
    }
}


.fpt-column-cp {
    background-size: cover;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
    overflow: hidden;
    .fpt-img{
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        figure{
            width: 100%;
        }
    }
    &:hover{
        .fpt-img{
            img{
                transform: scale(1.3) translateY(10%);
                transition: 1s ease-in-out;
            }
        }
    }
    .fpt-content {
        position: absolute;
        top: 56%;
        left: 50%;
        width: 100%;
        padding: 0 70rem;
        transform: translateX(-50%);
        box-sizing: border-box;

        h3 {
            font-size: 40rem;
            margin-bottom: 24rem;
        }

        p {
            font-size: 16rem;
            margin-bottom: 20rem;
            height: 88rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }
}

.fpt-peopleItem-cp {
    background-size: cover;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
    transition: 0.3s ease-in-out;
    border-right: 1px solid #c9c9c9;
    box-sizing: border-box;
    background-color: #e4e4e4;

    .fpt-info {
        position: absolute;
        bottom: 132rem;
        right: -455rem;
        transform: translate(0, 0) rotate(-90deg);
        z-index: 11;
        transform-origin: 0 0;
        width: 500rem;
        text-align: left;
        transition: 0.3s ease-in-out;

        span {
            position: relative;
            display: inline-block;
            padding-left: 100rem;
            color: #545454;

            &::before {
                content: "";
                height: 1px;
                width: 80rem;
                left: 0;
                top: 50%;
                position: absolute;
                background-color: #545454;
            }
        }
    }

    .fpt-content {
        position: absolute;
        bottom: 14%;
        left: 50%;
        width: 100%;
        padding: 0 70rem;
        transform: translateX(-50%);
        box-sizing: border-box;
        opacity: 0;

        h3 {
            font-size: 40rem;
            width: 88%;
            margin: 0 auto 24rem;
        }

        p {
            font-size: 16rem;
            margin-bottom: 20rem;
            height: 88rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
    }

    .fpt-icon-hover {
        position: absolute;
        top: 85rem;
        left: 0;
        width: 100%;
        text-align: center;

        img {
            width: 56%;
            transform: scale(1.05);
            transition: 0.3s ease-in-out;
            opacity: 0;
        }
    }

    .fpt-gradient{
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 65%;
        transition: 0.3s ease-in-out;
    }
    &:hover {
        transition: 0.3s ease-in-out;

        .fpt-info {
            opacity: 0;
            transition: 0.3s ease-in-out;
        }

        .fpt-icon-hover {
            animation: 1s shake infinite alternate;
            img {
                transform: scale(1);
                transition: 0.3s ease-in-out;
                opacity: 1;
            }
        }

        .fpt-gradient{
            opacity: 1;
            transition: 0.3s ease-in-out;
        }
        .fpt-content {
            opacity: 1;
        }

        &::before {
            opacity: 1;
        }
    }
}

@keyframes shake {
    0%,
    10% {
      -webkit-transform: skewX(-2deg);
      transform: skewX(-2deg);
    }
    15%,
    5% {
      -webkit-transform: skewX(2deg);
      transform: skewX(2deg);
    }
    100%,
    20% {
      -webkit-transform: skewX(0);
      transform: skewX(0);
    }
  }
  

.fpt-b-gridBox {
    color: white;
    background-color: #222222;
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    transition: 0.3s ease-in-out;
    padding-top: 9%;
    box-sizing: border-box;
    overflow: hidden;
    .fpt-bg{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        transform: translateX(-100%);
        transition: transform .45s cubic-bezier(0.52, 0.01, 0.16, 1);
        opacity: 1;
        
    }
    .fpt-img {
        width: 300rem;
        height: 300rem;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 16rem;
        background-size: cover;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        z-index: 2;
        position: relative;
        &::before{
            content: "";
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: inherit;
            opacity: 0;
            z-index: 1;
            position: absolute;

        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.3s ease-in-out;
        }
    }
    h5 {
        font-size: 18rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        width: 70%;
        margin: 0 auto;
        z-index: 2;
        position: relative;
        margin-bottom: 5rem;
    }
    h6{
        font-size: 12rem;
        right: -80rem;
        top: 155rem;
        transform: rotate(-90deg);
        display: inline-block;
        position: absolute;
        width: 130rem;
        transform-origin: 0 0;
        z-index: 1;
        color: #585858;
        font-weight: normal;
    }


    .fpt-pos {
        right: -140rem;
        bottom: 16rem;
        transform: rotate(-90deg);
        display: inline-block;
        position: absolute;
        width: 200rem;
        transform-origin: 0 0;
        text-align: left;
        z-index: 11;

        span {
            display: inline-block;
            font-size: 12rem;
            padding: 8rem 28rem;
            border-radius: 24rem;
        }
    }


    &:hover {
        transition: 0.3s ease-in-out;
        .fpt-bg{
            transform: translateX(0);
            transition: transform .45s cubic-bezier(0.52, 0.01, 0.16, 1);
        }
        .fpt-img {
            transform: scale(1.08);
            transition: 0.3s ease-in-out;
            position: relative;
            &::before{
                opacity: 0.4;
                transition: 0.3s ease-in-out;
            }
            img{
                // transform: scale(1.05);
                // transition: 0.3s ease-in-out;
            }
        }

    }
}

.fpt-b-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 70rem;
    position: fixed;
    bottom: 100rem;
    left: 0;
    width: 100%;
    background-color: #090909;
    box-sizing: border-box;
    z-index: 11;
    ul {
        display: flex;
        align-items: center;

        li {
            margin-right: 12rem;
            opacity: 0.3;

            button {
                color: white;
                height: 40rem;
                line-height: 40rem;
                display: inline-block;
                padding: 0 20rem;
                font-weight: 700;
                border-radius: 20rem;
                font-size: 14rem;
                transition: 0.3s ease-in-out;
                border: 0;
                outline: none;
                cursor: pointer;
            }
            &:hover{
                opacity: 1;
                transition: 0.3s ease-in-out;
            }

            &.isActive {
                opacity: 1;
            }
        }
    }

    form {
        opacity: 0.3;
        position: relative;

        input {
            color: white;
            border: 1px solid white;
            border-radius: 20rem;
            height: 40rem;
            padding: 0 35rem;
            background-color: transparent;
            width: 310rem;
            outline: none;
            font-size: 14rem;
        }

        button {
            position: absolute;
            right: 17rem;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
            background-color: transparent;
            border: 0;

            img {
                width: 24rem;
            }
        }
    }
}


// section ------------------------------------

.section{
    overflow: hidden;
}
.homePage {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

ul.animation-bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform .75s cubic-bezier(0.52, 0.01, 0.16, 1);
        transform-origin: 0 0;
        transform: translateX(-100%);
        &.isActive {
            transform: translateX(0);
            transition: transform .75s cubic-bezier(0.52, 0.01, 0.16, 1);
        }
        & ~ li{
            transform: translateX(100%);
        }
    }
}


.fpt-s-hero {
    position: relative;
    font-size: 0;
    background-color: black;
    .fpt-b-content {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding: 240rem 100rem 0 200rem;
        box-sizing: border-box;
        z-index: 2;
        position: relative;

        .fpt-b-left {
        }
    }

    .fpt-paralax-bg-wrapper {
        display: inline-block;
        width: 50%;
        position: relative;
        height: 100vh;
        float: right;
        .fpt-paralax-bg {
            z-index: 1;
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transition-delay: 0.4s;

            &.isActive {
                z-index: 2;
                opacity: 1;
                transition: opacity 0.4s linear;
            }

            &:before {
                content: "";
                position: absolute;
                width: 101%;
                height: 100%;
                background-color: inherit;
                left: 0;
                top: 0;
                transform: translate(-99%, 0);
            }
        }

        #fpt-box {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            .fpt-pj-button {
                display: flex;
                border-radius: 50%;
                text-transform: uppercase;
                color: white;
                z-index: 3;
                text-align: center;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                position: absolute;
                background-size: 100%;
                transition: all 0.3s ease-in-out;
                &:hover{
                    box-shadow: 0 0 5rem 2rem white;
                    transition: all 0.3s ease-in-out;
                    transform: scale(1.05);
                }

                &.position-1 {
                    top: 24rem;
                    right: 564rem;
                    width: 194rem;
                    height: 194rem;
                    font-size: 16rem;
                }

                &.position-2 {
                    top: 270rem;
                    right: 36rem;
                    width: 211rem;
                    height: 211rem;
                    font-size: 21rem;

                }

                &.position-3 {
                    top: 460rem;
                    right: 620rem;
                    width: 234rem;
                    height: 234rem;
                    font-size: 25rem;

                }

                &.position-4 {
                    top: 575rem;
                    right: 76rem;
                    width: 220rem;
                    height: 220rem;
                    font-size: 22rem;

                }
            }
        }

    }


}

.fpt-slide-arrow {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 7;
    display: block;
    padding: 14rem 10rem;
    box-sizing: border-box;
    background-color: #161616;
    font-size: 0;
    line-height: 0;
    transition: 0.3s ease-in-out;
    &.js-left {
        transform: translate(-100%, 0);
    }

    &.js-right {
        transform: translate(0, -100%);
    }

    img {
        width: 30rem;
        filter: brightness(90);
    }
    &:hover{
        img{
            filter: inherit;
        }
    }
}

.fpt-s-exihibition, .fpt-s-project {
    position: relative;
    .fpt-b-main-content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        z-index: 2;
        flex-direction: row-reverse;
        &.isActive {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            transition-delay: 0.5s;
            z-index: 3;

        }
    }
}

.fpt-contact {
    position: fixed;
    top: 140rem;
    right: 0;
    z-index: 12;

    a {
        margin-bottom: 16rem;
        padding: 14rem 14rem 14rem 20rem;
        border: 1px solid #fff;
        border-top-left-radius: 30rem;
        border-bottom-left-radius: 30rem;
        background-color: #161616;
        transition: .3s ease-in-out;
        display: flex;
        align-items: center;
        border-right: 0;
        transform: translateX(calc(100% - 60rem));
        span{
            display: inline-block;
            vertical-align: middle;
            text-transform: uppercase;
            color: white;
        }
        img {
            width: 26rem;
            display: inline-block;
            vertical-align: middle;
            margin-right: 14rem;
        }
        &:hover {
            background-color: #ef3e2d;
            transition: 0.3s ease-in-out;
            transform: translateX(0);
        }

    }
}

.fpt-nav {
    width: 1256rem;
    background-color: white;
    height: 100%;
    position: fixed;
    z-index: 101;
    transform: translateX(-100%);
    transition: 0.6s cubic-bezier(0.5, 0.5, 0, 1);
    pointer-events: none;
    overflow: hidden;

    & * {
        transform: translateX(20%);
        opacity: 0;
        transition: 0.5s cubic-bezier(0.5, 0.5, 0, 1);
    }

    a.fpt-close {
        position: absolute;
        right: 40rem;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 11;
    }

    .fpt-head {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 60rem 70rem 0 60rem;
        box-sizing: border-box;
        z-index: 1;

        .fpt-left {
            display: flex;
            align-items: flex-start;
            z-index: 2;

            a {
                display: inline-block;
                margin-right: 60rem;

                img {
                    width: 70rem;
                }
            }

            .fpt-menu {
                display: flex;
                align-items: center;
                margin-top: 30rem;

                h6 {
                    color: #c7c7c7;
                    text-transform: uppercase;
                    font-size: 20rem;

                }
            }
        }

        .fpt-right {
            ul {
                font-size: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 0 15rem;

                    &:first-child {
                        border-right: 1px solid #b0b0b0;
                    }

                    a {
                        color: #b0b0b0;
                        text-decoration: none;
                        text-transform: uppercase;
                        line-height: 18rem;
                        display: block;
                        font-size: 16rem;
                        &.active {
                            color: #343333;
                            font-weight: bold;
                        }
                    }

                }
            }
        }

    }

    .fpt-body {
        padding: 220rem 176rem 0;
        margin-bottom: 50rem;

        .fpt-menu-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #b1b1b1;
            padding-bottom: 48rem;
            ul {
                width: 30%;
                li {
                    display: list-item;
                    text-align: -webkit-match-parent;
                    margin: 0 5% 24rem 0;

                    a {
                        color: #343333;
                        font-size: 35rem;
                        font-weight: 700;
                        display: inline-block;
                        margin-bottom: 4rem;
                        padding-right: 12rem;
                        position: relative;
                        transition: 0.3s ease-in-out;
                        font-family: 'GTAmerianBlack', sans-serif;

                        &:hover {
                            color: #ef3c2d;
                            transition: 0.3s ease-in-out;
                        }

                    }

                    p {
                        color: #858585;
                        font-size: 12rem;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                }
            }
        }

    }

    .fpt-foot {
        padding: 0 176rem;
        display: flex;
        justify-content: space-between;

        .fpt-b-news {
            h4 {
                font-size: 22rem;
                margin-bottom: 24rem;
                font-family: 'Open Sans', sans-serif;
            }

            ul {
                li {
                    margin-bottom: 24rem;

                    span {
                        display: inline-block;
                        vertical-align: middle;
                        padding: 5rem 10rem;
                        border-radius: 10rem;
                        font-size: 9rem;
                        color: white;
                        text-transform: uppercase;
                        margin-right: 8rem;
                    }

                    a {
                        display: inline-block;
                        vertical-align: middle;
                        h6 {
                            font-size: 16rem;
                            color: #343333;
                            display: inline-block;
                            vertical-align: middle;
                            position: relative;
                            padding-right: 64rem;
                            max-width: 200rem;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            word-wrap: break-word;
                            overflow: hidden;
                            transition: 0.3s ease-in-out;
                            font-family: 'Open Sans', sans-serif;
                            &::after {
                                content: '';
                                width: 40rem;
                                height: 1px;
                                background-color: #343333;
                                position: absolute;
                                top: 50%;
                                right: 8rem;
                            }

                        }

                        p {
                            font-size: 16rem;
                            color: #343333;
                            display: inline-block;
                            vertical-align: middle;

                        }
                        &:hover{
                            h6{
                                color: #ef3c2d;
                                transition: 0.3s ease-in-out;
                            }
                        }
                    }

                }
            }

        }
    }
}


.fpt-s-column-layout {
    display: flex;

    .fpt-b-col {
        height: 100vh;
        width: 25%;

        .fpt-column-cp {
        }
    }
}


.fpt-s-grid-column {
    background-color: #222222;
    min-height: 100vh;
    .fpt-b-items {
        display: table;
        width: 100%;
        padding-bottom: 163rem;
        .fpt-item {
            display: block;
            float: left;
            width: 25%;
            height: calc(50vh - 85rem);
            box-sizing: border-box;
            text-align: center;
            min-height: 410rem;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;

        }
    }
}
.careerPage{
    .fpt-s-grid-column {
        min-height: auto;
        .fpt-b-items {
            padding-bottom: 0;
        }
    }
}

.open-nav {
    .fpt-nav {
        pointer-events: auto;
        transform: translateX(0);

        & * {
            transform: translateX(0);
            opacity: 1;
            transition: opacity 0.4s ease-in;
        }
    }
}


.fpt-down {
    position: absolute;
    left: 50%;
    bottom: 36rem;
    transform: translate(-50%, 0);
    z-index: 11;
    a {
        display: block;
        position: relative;
        font-size: 14rem;
        font-weight: bold;
        letter-spacing: 2.1rem;
        color: white;
        padding-bottom: 67rem;
        text-transform: uppercase;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            background-image: url(../images/arrow-up.png);
            bottom: 0;
            width: 38rem;
            height: 44rem;
            background-size: 100%;
            left: 50%;
            transform: translate(-50%, -100rem) rotate(180deg);
            transition: 0.3s ease-in-out;
            opacity: 0;
        }
        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/arrow-up.png);
            bottom: 0;
            width: 38rem;
            height: 44rem;
            background-size: 100%;
            left: 50%;
            transform: translate(-50%, 0) rotate(180deg);
            transition: 0.3s ease-in-out;
        }
        &:hover{
            &::before{
                transform: translate(-50%, 0) rotate(180deg);
                transition: .34s cubic-bezier(.52,.01,.16,1);
                opacity: 1;

            }
            &::after{
                transform: translate(-50%, 100rem) rotate(180deg);
                transition: .34s cubic-bezier(.52,.01,.16,1);
                opacity: 1;

            }
        }
    }
}

.fpt-s-program-detail-hero {
    position: relative;
    .fpt-paralax-bg-wrapper {
        .fpt-paralax-bg {
            opacity: 1;
            overflow: hidden;
        }
    }


    .fpt-left-content {
        h2 {
            font-size: 50rem;
            margin-bottom: 57rem;
        }
    }

    //.animaiton-wrap{
    //    h2, .sub-content, .fpt-button{
    //        transition: transform 0.65s cubic-bezier(0.62,0.02,0.34,1);
    //        transform: translate3d(0, 0, 0);
    //    }
    //    .sub-content{
    //        transition-delay: 0.12s;
    //    }
    //    .fpt-button{
    //        transition-delay: 0.24s;
    //    }
    //}
}

.fpt-s-career-prospect {
    .fpt-b-container {
        ul {
            margin-bottom: 86rem;

            li {
                list-style: none;
                display: inline-block;
                vertical-align: middle;
                margin-right: 48rem;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-size: 18rem;
                    font-weight: bold;
                    color: #434343;

                }
            }
        }

        .fpt-b-body {
            column-count: 2;
            column-gap: 130rem;
        }
    }
}

.fpt-team-slider {
    position: relative;
    padding: 0 110rem;
    .fpt-item {
        text-align: center;
        img {
            width: 258rem;
            height: 258rem;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto 34rem;
        }

        h5 {
            width: 258rem;
            text-align: center;
            font-size: 18rem;
            text-align: center;
            color: #3b3b3b;
            margin: 0 auto;
        }
    }

    button.slick-arrow {
        width: 66rem;
        height: 57rem;
        background-repeat: no-repeat;
        background-size: 100%;
        transform-origin: 0 0;
        top: calc(50% - 35rem);
        transition: 0.3s ease-in-out;

        &.slick-prev {
            left: 0;
            background-image: url(../images/arrow-left-grey.png);
            
        }

        &.slick-next {
            right: 0;
            background-image: url(../images/arrow-right-grey.png);

        }
        &:hover{
            &.slick-prev {
                transform:  translate(-5rem, -50%) scale(0.96);
                opacity: 0.8;
                transition: 0.3s ease-in-out;
            }
            &.slick-next {
                transform:  translate(5rem, -50%) scale(0.96);
                opacity: 0.8;
                transition: 0.3s ease-in-out;
            }
        }

        &::before {
            display: none;
        }
    }
}

.fpt-career-path {
    .fpt-b-container {
        .fpt-b-body {
            .fpt-slider {
            }
        }
    }
}

.fpt-s-different-training {
    .fpt-b-container {
        .fpt-b-body {
            ul {
                column-count: 2;
                padding: 0;

                li {
                    list-style: none;
                    position: relative;
                    padding-left: 34rem;
                    font-weight: bold;
                    &::before {
                        content: "";
                        width: 8rem;
                        height: 8rem;
                        position: absolute;
                        top: 8rem;
                        left: 0;
                        background-color: #b0b0b0;
                    }
                }
            }
        }
    }
}

.fpt-s-program-training {
    .fpt-b-container {
        .fpt-b-body {
            display: flex;
            flex-direction: column;
            flex-flow: wrap;
            justify-content: space-between;

            .fpt-item {
                display: flex;
                margin-bottom: 44rem;
                border-radius: 20rem;
                background-color: #ececec;
                overflow: hidden;
                width: 705rem;

                .fpt-left {
                    width: 220rem;
                    min-height: 220rem;
                    display: flex;
                    align-items: center;

                    h6 {
                        font-size: 18rem;
                        line-height: 1.67;
                        color: #ffffff;
                        padding-left: 30rem;
                    }
                }

                .fpt-right {
                    padding: 26rem 35rem;

                    ul {
                        li {
                            list-style: none;
                            position: relative;
                            padding-left: 34rem;
                            font-size: 16rem;
                            line-height: 1.5;
                            text-align: left;
                            color: #3b3b3b;
                            margin-bottom: 24rem;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &::before {
                                content: "";
                                width: 8rem;
                                height: 8rem;
                                position: absolute;
                                top: 8rem;
                                left: 0;
                                background-color: #b0b0b0;
                            }
                        }
                    }
                }
            }
        }
    }
}


.fpt-btn {
    color: white;
    height: 70rem;
    line-height: 70rem;
    border-radius: 10rem;
    padding: 0 50rem;
    display: inline-block;
    font-size: 20rem;
    font-weight: bold;
    letter-spacing: 3rem;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;

    &:hover {
        opacity: 0.6;
        transition: 0.3s ease-in-out;
    }
}

.fpt-s-register {
    .fpt-b-container {
        .fpt-b-body {
            text-align: center;
        }
    }
}

.fpt-s-featured-projects, .fpt-s-laster-news {
    background-color: #ececec;
    padding: 96rem 0 100rem;
    .fpt-b-container {
        .fpt-b-body {
            display: flex;
            justify-content: space-between;

            .fpt-item {
                border-radius: 30rem;
                width: 433rem;
                height: 477rem;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                    transition: 0.3s ease-in-out;
                }

                h5 {
                    font-size: 20rem;
                    line-height: 1.5;
                    text-align: center;
                    color: white;
                    position: absolute;
                    z-index: 2;
                    bottom: 38rem;
                    width: 100%;
                    height: 24rem;
                    text-align: center;
                    padding: 0 10rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    box-sizing: border-box;
                }

                .fpt-overlay {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 40%;
                    z-index: 1;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                        transition: 0.3s ease-in-out;
                    }
                }
            }

            .slick-slide {
                margin: 0 55rem;
            }
            .slick-list {
                margin: 0 -55rem;
            }

            button.slick-arrow {
                width: 66rem;
                height: 57rem;
                background-repeat: no-repeat;
                background-size: 100%;
                transform-origin: 0 0;
                top: calc(50% - 35rem);
                z-index: 1;
        
                &.slick-prev {
                    left: -10rem;
                    transform: translateX(-100%);
                    background-image: url(../images/arrow-left-grey.png);
                }
        
                &.slick-next {
                    right: -10rem;
                    transform: translateX(100%);
                    background-image: url(../images/arrow-right-grey.png);
        
                }
        
                &::before {
                    display: none;
                }
            }
        }
    }
}

.fpt-s-news-detail-page-hero,
.fpt-s-project-detail-page-hero {
    .fpt-b-main-content {
        opacity: 1;
        .fpt-left-content {
            h2 {
                font-size: 50rem;
                font-weight: bold;
                display: block;
                margin-bottom: 44rem;
                height: auto;
                max-height: initial;
            }
            p {
                font-size: 20rem;
                line-height: 1.5;
            }
        }

        .fpt-b-left {
            position: relative;
        }
    }
}

.careerDetailPage{
    .fpt-b-main-content{
        .fpt-b-left{
            padding: 210rem 100rem 0 200rem;
        }

    }
}

.fpt-s-laster-news {
    position: relative;

    .fpt-b-container {
        .fpt-b-head {
            margin-bottom: 42rem;

            h3 {
                font-size: 40rem;
                color: #3b3b3b;
            }
        }
    }
}



.mfp-close {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 18rem;
}


.fpt-s-best-shots {
    .fpt-b-body {
        font-size: 0;

        .fpt-col {
            a {
                height: 679rem;
                margin-bottom: 12rem;
                display: inline-block;
                width: 100%;
                margin-right: 0;
                position: relative;
                overflow: hidden;

                &::before {
                    content: "";
                    background-color: inherit;
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    &::before {
                        opacity: 0.6;
                        transition: 0.3s ease-in-out;
                    }

                    img {
                        transition: 0.3s ease-in-out;
                        transform: scale(1.05);
                    }
                }

            }
        }

        .fpt-2-col {
            a {
                width: calc(50% - 6rem);

                &:first-child {
                    margin-right: 12rem;
                }
            }

        }

        .fpt-full-img {
            a {
                position: relative;
                display: block;
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                }

                &::before {
                    content: "";
                    background-color: inherit;
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    &::before {
                        opacity: 0.6;
                        transition: 0.3s ease-in-out;
                    }

                }
            }

        }


    }
}
.fpt-s-detail-content{
    padding: 86rem 0;
}

.fpt-s-project-detail-content{
    background-color: white;
    .fpt-b-container{
        .fpt-b-head{
            ul{
                li{
                    display: inline-block;
                    margin-right: 40rem;
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        font-weight: 700;
                        color: #434343;
                        font-size: 18rem;
                    }
                }
            }
        }
    }
}
.fpt-s-career-detail-page-hero{
    .fpt-b-main-content{

        .fpt-b-left{
            padding-bottom: 120rem;
            min-height: 100vh;
            .fpt-left-content{
                h2{
                    font-size: 50rem;
                }
            }
        }
        .fpt-b-right{
            position: fixed;
            right: 0;
            top: 0;
            height: 100vh;
        }
    }
}

.fpt-b-editor{
    line-height: 1.6;
    h1{
        font-size: 48rem;
        margin-bottom: 16rem;
    }
    h2{
        font-size: 44rem;
        margin-bottom: 16rem;

    }
    h3{
        font-size: 40rem;
        margin-bottom: 16rem;

    }
    h4{
        font-size: 36rem;
        margin-bottom: 16rem;

    }
    h5{
        font-size: 32rem;
        margin-bottom: 16rem;

    }
    h6{
        font-size: 28rem;
        margin-bottom: 16rem;

    }
    p{
        line-height: 1.6;
        margin-bottom: 16rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
    img{
        width: 100%;
        object-fit: cover;
        display: block;
    }
    article{
        font-size: 0;
        overflow: hidden;
    }
    .fpt-row{
        margin-bottom: 4rem;
    }
    .image{
        display: block;
        position: relative;
        overflow: hidden;
        &::before{
            content: "";
            background-color: inherit;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            transition: 0.3s ease-in-out;
        }
        // &:hover{
        //     &::before{
        //         opacity: 0.6;
        //         transition: 0.3s ease-in-out;
        //     }
        // }
    }

    iframe{
        width: 100%;
    }
    .text-box{
        padding: 0 20rem;
        box-sizing: border-box;
    }
    ul{
        li{
            margin-bottom: 16rem;
        }
    }
    .title{
        margin-bottom: 40rem;
        padding-top: 80rem;

        h3{
            font-size: 40rem;
        }
    }
    .img{
        img{
            width: 100%;
        }
    }
    .text-img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        article{
            width: calc(50% - 2rem);
        }
    }
    .img-img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        article{
            width: calc(50% - 2rem);
        }
    }
    .img-img-img-img{
        display: flex;
        align-items: center;
        justify-content: space-between;
        article{
            width: calc(25% - 3rem);
            img{
                
            }
        }
    }
    .img-img-img{
        display: flex;
        justify-content: space-between;
        article{
            width: calc(50% - 2rem);
            img{
                height: 604rem;
            }
            &:last-child{

                a{
                    height: 300rem;
                    img{
                    }
                    &:first-child{
                        margin-bottom: 4rem;
                    }
                }

            }
        }
    }
    .video{
        article{
            iframe{
                height: 840rem;
            }
        }
    }
    .text-video{
        display: flex;
        align-items: center;
        justify-content: space-between;
        article{
            width: calc(50% - 2rem);
            iframe{
                height: 420rem;
            }
        }

    }
    .full-text{
        article{

        }
    }
    .full-text-2-cols{
        column-count: 2;
        column-gap: 160rem;
        article{

        }
    }
}

.fpt-s-career-partner{
    padding: 64rem 0;
    background-color: #f0f0f0;
    z-index: 2;
    bottom: 100rem;
    left: 0;
    width: 100%;
    .fpt-b-container{
        max-width: 100%;
        .fpt-b-head{
            margin-bottom: 55rem;
            text-align: center;
            h3{
                font-size: 40rem;
                font-weight: 900;
                line-height: 0.75;
                color: #272727;
            }
        }
        .fpt-b-body{
            text-align: center;
            max-width: 100%;
            .slick-slide{
                padding: 0 20rem;
            }
            .fpt-slide{
                img{
                    width: 100%;
                    display: inline-block;                 
                     filter: grayscale(100%);
                     transition: 0.4s ease-in-out;
                     &:hover{
                         filter: grayscale(0);
                         transition: 0.4s ease-in-out;
                     }
     
                 }
            }



        }
    }
}

.fpt-s-contact-page{
    color: white;
    display: flex;
    .fpt-b-left{
        background-color: #ef3e2d;
        width: 50%;
        min-height: 100vh;
        padding: 248rem 100rem 137rem 200rem;
        box-sizing: border-box;
        h4{
            font-size: 50px;
            font-weight: bold;
            color: #ffffff;
            margin-bottom: 40rem;
            margin-bottom: 55rem;
        }
        ul{
            margin-bottom: 55rem;
            li{
                margin-bottom: 24rem;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    padding-left: 32rem;
                    position: relative;
                    background-image: url(../images/icon-phone.png) ;
                    background-repeat: no-repeat;
                    background-size: 16rem auto;
                    background-position: left center;
                    color: #ffffff;

                }
            }
        }
        form{
            .fpt-form-field{
                margin-bottom: 46rem;
                h6{
                    font-size: 16rem;
                    line-height: 1.5;
                    color: #ffffff;
                    margin-bottom: 20rem;
                }
                input{
                    appearance: none;
                    padding: 13rem 15rem;
                    box-sizing: border-box;
                    color: #ffffff;
                    border: 0;
                    border-bottom: 1px solid white;
                    width: 100%;
                    background-color: transparent;
                    outline: none;
                    font-size: 20rem;
                    border-radius: 0;
                    &::placeholder{
                        color: white;
                    }
                }
                select{
                    appearance: none;
                    color: #ffffff;
                    width: 100%;
                    background-color: transparent;
                    padding: 13rem 15rem;
                    border: 0;
                    border-radius: 0;
                    border-bottom: 1px solid white;
                    outline: none;
                    background-image: url(../images/down-arrow.svg);
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-size: 28rem auto;
                    box-sizing: border-box;
                    font-size: 20rem;
                    option{
                        background: rgba(0, 0, 0, 0.3);
                        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
                    }
                }
                textarea{
                    appearance: none;
                    color: #ffffff;
                    padding: 13rem 15rem;
                    border: 1px solid white;
                    width: 100%;
                    background-color: transparent;
                    outline: none;
                    height: 259rem;
                    box-sizing: border-box;
                    resize: none;
                    border-radius: 0;
                    font-size: 20rem;
                    &::placeholder{
                        color: white;
                    }
                }
            }
            article{
                display: flex;
                justify-content: space-between;
                .fpt-form-field{
                    width: calc(50% - 20rem);
                }
            }

        }
    }
    .fpt-b-right{
        width: 50%;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        iframe{
            width: 100%;
            height: 100%;
        }
    }
}

#program-detail-full-page{
    .fpt-s-career-prospect{
        padding-top: 86rem;
    }
    .fpt-s-register{
        padding-bottom: 86rem;
    }
    .fpt-s-project-detail-page-hero{
        margin-bottom: 0;
    }
    section{
        // margin-bottom: 70rem;
        .fpt-b-container{
            .fpt-b-head{
                margin-bottom: 40rem;
                h3{
                    font-size: 40rem;
                }
            }

        }
    }
}

.fpt-select{
    appearance: none;
    width: 100%;
    background-color: transparent;
    padding: 8rem 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.2);
    outline: none;
    background-image: url(../images/down-arrow-grey.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16rem auto;
    box-sizing: border-box;
    font-size: 20rem;
    margin-bottom: 24rem;
}
@media(max-width: 1080px) {
    .mobile-hide{
        display: none !important;
    }
    .desktop-hide{
        display: inherit !important;
    }
    #program-detail-full-page{
        .fpt-s-career-prospect{
            padding-top: 40rem;
        }
        .fpt-s-register{
            padding-bottom: 40rem;
        }
    }
    html {
        //font-size: 1px;
        font-size: calc((1px + ((100vw - 375px) / 375) * 1));
    }
    body{
        font-size: 14rem;
        p{
            font-size: 14rem;
        }
    }
    .confirm-container{
        h2{
            font-size: 30rem;
            margin-bottom: 12rem;
        }
    }
    header {
        .fpt-head {
            padding: 20rem;
            width: 100%;

            .fpt-left {
                justify-content: space-between;
                width: 100%;

                a {
                    margin-right: 0;

                    img {
                        width: 90rem;
                    }
                }

                .fpt-menu {
                    margin-top: 0;

                    a {
                        margin-right: 0;
                    }

                    h6 {
                        display: none;
                    }
                }
            }
        }
    }

    .fpt-scroll-down{
        header{
            .fpt-head{
                padding: 10rem 20rem;
                .fpt-left{
                    a{
                        margin-right: 0;
                        .fpt-logo-no-text{
                            width: 24rem;                    
                        }
                    }
    
                    .fpt-menu{
                        margin-top: 0;
                        a{
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        .hamburger {
            width: 30rem;
            height: 24rem;
            span{
                height: 3rem;
                &:nth-child(2){
                    top: 10rem;
                }
                &:nth-child(3){
                    top: 20rem;
                }
            }
        }
    }
    .hamburger {
        width: 36rem;
        height: 36rem;

        span {
            height: 4rem;

            &:nth-child(2) {
                top: 12rem
            }

            &:nth-child(3) {
                top: 25rem;
            }
        }
    }

    .fpt-contact {
        a {
            padding: 8rem 8rem 8rem 10rem;
            transform: translateX(calc(100% - 40rem));

            img {
                width: 20rem;
            }
        }
    }
    .fpt-nav {
        width: 100%;
        height: 100vh;
        overflow: auto;

        a.fpt-close {
            right: 20rem;
            top: 20rem;
            width: 36rem;
            height: 36rem;
            transform: none;
        }

        .fpt-head {
            padding: 20rem;

            .fpt-left {
                a {
                    margin-right: 0;
                    padding-right: 0;

                    img {
                        width: 90rem;
                    }
                }

                .fpt-menu {
                    display: none;
                }
            }

            .fpt-right {
                margin-right: 36rem;
            }

        }

        .fpt-body {
            padding: 100rem 20rem 0;
            margin-bottom: 0;

            .fpt-menu-list {
                display: block;
                padding-bottom: 0;
                border-bottom: 0;

                ul {
                    width: 100%;

                    li {
                        margin: 0 0 20rem;
                        text-align: center;
                        padding-right: 0;

                        a {
                            font-size: 24rem;
                            font-family: 'GTAmerianBlack', sans-serif;
                            padding-right: 0;

                        }

                        p {
                            font-size: 10rem;
                        }
                    }
                }
            }

        }

        .fpt-foot {
            display: none;
        }
    }
    .careerDetailPage{
        .fpt-b-main-content{
            .fpt-b-left{
                padding: 100rem 20rem 40rem 20rem;
            }
    
        }
    }
    
    .fpt-s-hero {
        height: auto !important;

        .fpt-b-content {
            display: block;
            padding: 20rem 20rem 60rem;
            width: 375rem;
        }

        .fpt-paralax-bg-wrapper {
            display: block;
            width: 375rem;
            height: 380rem;
            float: inherit;
            padding-top: 70rem;
            .fpt-paralax-bg {
                padding-top: 70rem;
                &:before {
                    transform: translate(0, 100%);
                    width: 100%;
                }
            }

            #fpt-box {
                .fpt-pj-button {
                    font-size: 10rem;

                    &.position-1 {
                        right: initial;
                        left: 28rem;
                        top: 78rem;                        
                        width: 100rem;
                        height: 100rem;  
                        font-size: 10rem;
  
                    }

                    &.position-2 {
                        top: 174rem;
                        right: 8rem;
                        width: 100rem;
                        height: 100rem;
                        font-size: 10rem;

                    }

                    &.position-3 {
                        top: initial;
                        right: initial;
                        bottom: 40rem;
                        left: 23rem;
                        width: 100rem;
                        height: 100rem;
                        font-size: 10rem;

                    }

                    &.position-4 {
                        top: initial;
                        bottom: 20rem;
                        right: 17rem;
                        width: 100rem;
                        height: 100rem;    
                        font-size: 10rem;
                    }
                }
            }

        }
    }

    .fpt-left-content {
        h2 {
            font-size: 40rem;
            max-height: inherit;
            margin-bottom: 20rem;
            display: block;
        }

        p {
            font-size: 13rem;
            margin-bottom: 12rem;
        }
        
    }

    .fpt-button {
        font-size: 14rem;
        height: 45rem;
        line-height: 45rem;
        padding: 0 24rem;
        border-radius: 6rem;
    }

    .fpt-arrow {
        left: 10rem;
        width: 36rem;
        display: none;

        a {
            margin-bottom: 8rem;
            padding-bottom: 8rem;

            img {
                width: 22rem;
            }

            &::after {
                width: 36rem;
            }

            &.arrow-down {
                margin-top: 8rem;
                padding-top: 8rem;

                &::after {
                    width: 36rem;
                }
            }
        }

        h6 {
            font-size: 7rem;
            width: 36rem;
            min-height: 24rem;
        }
    }

    footer {
        padding: 30rem 0;
        position: relative !important;

        .fpt-b-container {
            padding: 0 10rem;
            display: block;

            .fpt-left {
                text-align: center;
                margin-bottom: 16rem;

                a {
                    img {
                        width: 200rem;
                    }
                }
            }

            .fpt-right {
                .fpt-sns {
                    font-size: 12rem;
                    line-height: 29rem;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 16rem;
                    span{
                        display: none;
                    }

                    ul {
                        li {
                            margin-right: 16rem;
                            a {
                                img {
                                    height: 20rem;
                                }
                            }
                        }
                    }
                }

                p {
                    text-align: center;
                    font-size: 14rem;
                }
            }
        }
    }


    .homePage {
        .fpt-b-main-content {
            display: block;

            .fpt-b-left {
                padding: 40rem 20rem 60rem;
                box-sizing: border-box;
                z-index: 2;
                width: 375rem;

            }

            .fpt-b-right {
                position: relative;
                width: 375rem;
            }
        }

    }
    .fpt-b-main-content {
        display: block;

        .fpt-b-left {
            padding: 40rem 20rem 60rem;
            box-sizing: border-box;
            z-index: 2;
            width: 375rem;

            h2 {
                margin-bottom: 12rem !important;
            }
        }

        .fpt-b-right {
            position: relative;
            width: 375rem;
            height: 380rem;
        }
    }

    ul.animation-bg {
        overflow: hidden;
    }
    .fpt-s-project, .fpt-s-exihibition {
        height: auto !important;

        .fpt-b-main-content {
            &.isActive {
                position: relative;
            }

            .fpt-b-right {
                height: 350rem;
            }
        }

    }

    .fpt-down {
        display: none;
    }
    .fpt-slide-arrow {
        &.js-left {
            transform: translate(0, -50%);
            right: initial;
            left: 0;
            top: 350rem;
        }

        &.js-right {
            transform: translate(0, -50%);
            right: 0;
            left: initial;
            top: 350rem;
        }

        img {
            width: 30rem;
        }
    }
    .fpt-s-column-layout {
        display: block;

        .fpt-b-col {
            height: 700rem;
            width: 100%;
        }
    }
    .fpt-column-cp {
        .fpt-content {
            top: inherit;
            bottom: 40rem;
            h3 {
                font-size: 24rem;
                margin-bottom: 16rem;
            }
        }
    }

    .fpt-s-grid-column {
        display: block;
        padding-bottom: 0;
        min-height: auto;

        .fpt-b-items {
            .fpt-item {
                width: 375rem;
                height: 375rem;
                min-height: auto;
            }
        }
    }
    .careerPage{

        .fpt-s-career-partner{
            position: relative;
            bottom: inherit;
        }
        .fpt-s-grid-column{

            .fpt-b-items{
                padding-bottom: 100rem;
            }
        }
    }
    .fpt-b-filter {
        display: block;
        position: relative;
        padding: 20rem 10rem;
        bottom: initial;

        ul {
            display: block;

            li {
                display: inline-block;
                margin-bottom: 12rem;
            }
        }

        form {
            input {
                width: 100%;
                box-sizing: border-box;
            }
        }
    }

    .fpt-left-content {
        &.animationIsActive {
            .animaiton-wrap {
                h2, .sub-content, .fpt-button {
                    transition: transform 0.65s cubic-bezier(0.62, 0.02, 0.34, 1);
                    transform: translate3d(0, 0, 0);
                }

                .sub-content {
                    transition-delay: 0.12s;
                }

                .fpt-button {
                    transition-delay: 0.24s;
                }
            }
        }
    }

    .fpt-s-career-prospect {
        padding: 24rem 0;

        .fpt-b-container {
            ul {
                margin-bottom: 20rem;

                li {
                    margin-bottom: 12rem;
                    margin-right: 12rem;
                }
            }

            .fpt-b-body {
                column-count: 1;
                column-gap: 100%;
            }
        }

    }

    .fpt-team-slider {
        position: relative;
        padding: 0 30rem;

        .fpt-item {
            text-align: center;
            margin: 0 auto 12rem;

            img {
                width: 250rem;
                height: 250rem;
                border-radius: 50%;
                margin: 0 auto 12rem;
            }

            h5 {
                font-size: 18rem;
            }
        }

        button.slick-arrow {
            width: 30rem;
            height: 28rem;
            top: calc(50% - 14rem);

        }
    }

    .fpt-s-different-training {
        .fpt-b-container {
            .fpt-b-body {
                ul {
                    column-count: 1;
                    padding: 0;

                    li {
                        padding-left: 24rem;
                        font-size: 12rem;
                    }
                }
            }
        }
    }

    .fpt-s-program-training {
        .fpt-b-container {
            .fpt-b-body {
                display: block;

                .fpt-item {
                    display: block;
                    margin-bottom: 44rem;
                    border-radius: 20rem;
                    width: 100%;

                    .fpt-left {
                        width: 100%;
                        min-height: auto;
                        display: block;
                        align-items: center;
                        text-align: center;
                        padding: 16rem 10rem;

                        h6 {
                            font-size: 14rem;
                            padding-left: 0;
                        }
                    }

                    .fpt-right {
                        padding: 26rem 35rem;

                        ul {
                            li {
                                padding-left: 24rem;
                                font-size: 14rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .fpt-s-register {
        padding: 30rem 0;
    }
    .fpt-s-featured-projects, .fpt-s-laster-news {
        padding: 40rem 0;
        .fpt-b-container {
            .fpt-b-body {
                display: block;
                .fpt-item {
                    width: 335rem;
                    height: 335rem;
                    margin-bottom: 20rem;
                    border-radius: 30rem;
                    overflow: hidden;
                }
                button.slick-arrow {
                    width: 40rem;
                    height: 34rem;            
                    &.slick-prev {
                        left: 0;
                        transform: translateX(0);
                    }
            
                    &.slick-next {
                        right: 0;
                        transform: translateX(0);
            
                    }
            

                }
            }
        }
    }

    .fpt-b-gridBox{
        .fpt-img{
            width: 250rem;
            height: 250rem;
        }

    }
    .fpt-s-detail-content{
        padding: 44rem 0;
    }
    .fpt-s-news-detail-page-hero,
    .fpt-s-project-detail-page-hero {
        height: auto !important;
        .fpt-b-main-content {
            .fpt-left-content {
                h2 {
                    font-size: 26rem;
                    margin-bottom: 24rem;
                }
                p {
                    font-size: 14rem;
                    line-height: 1.4;
                }

            }
        }
    }

    .fpt-s-project-detail-content{
        .fpt-b-container{
            .fpt-b-head{
                ul{
                    li{
                        margin-right: 12rem;

                        a{
                            font-size: 18rem;
                        }
                    }
                }
            }
        }
    }
    .fpt-b-editor{
        line-height: 1.6;
        h1{
            font-size: 36rem;
    
        }
        h2{
            font-size: 32rem;
    
        }
        h3{
            font-size: 28rem;
    
        }
        h4{
            font-size: 24rem;
        }
        h5{
            font-size: 20rem;
    
        }
        h6{
            font-size: 16rem;
    
        }
        p{
            line-height: 1.6;
            margin-bottom: 8rem;
        }

        iframe{
            width: 100%;
        }
        .text-box{
            padding: 20rem 0;
        }
        ul{
            li{
                margin-bottom: 8rem;
            }
        }
        .title{
            margin-bottom: 24rem;
            padding-top: 40rem;
            h3{
                font-size: 28rem;
            }
        }
        .text-img{
            display: block;
            article{
                width: 100%;
            }
        }
        .img-img{
            display: block;
            article{
                width: 100%;
                margin-bottom: 4rem;
            }
        }
        .img-img-img-img{
            display: block;
            article{
                width: 100%;
                margin-bottom: 4rem;
            }
        }
        .img-img-img{
            display: block;
            justify-content: space-between;
            article{
                width: 100%;
                margin-bottom: 4rem;
                img{
                    height: 240rem;
                }
                &:last-child{
                    a{
                        height: 240rem;
                        &:first-child{
                            margin-bottom: 2rem;
                        }
                    }
    
                }
            }
        }
        .video{
            article{
                iframe{
                    height: 240rem;
                }
            }
        }
        .text-video{
            display: block;
            article{
                width: 100%;
                iframe{
                    height: 240rem;
                }
            }
    
        }
        .full-text{
        }
        .full-text-2-cols{
            column-count: 1;
            column-gap: 0;
        }
    }

    .fpt-s-career-partner{
        padding: 40rem 0;
        .fpt-b-container{
            .fpt-b-head{
                margin-bottom: 36rem;
                h3{
                    font-size: 28rem;
                }
            }
            .fpt-b-body{
                .fpt-slide{
                    width: 60rem;
                }

            }
        }
    }


    .fpt-s-career-detail-page-hero{
        .fpt-b-main-content{
            .fpt-b-left{
                padding-bottom: 60rem;
                .fpt-left-content{
                    h2{
                        font-size: 30rem;
                    }
                    .job-info{
                        li{
                            span{
                                font-size: 14rem;
                            }
                        }
                    }
                }
            }
            .fpt-b-right{
                position: relative;
                right: 0;
                top: 0;
                height: 500rem;
            }
        }
    }

    .fpt-s-contact-page{
        color: white;
        display: block;
        .fpt-b-left{
            width: 100%;
            min-height: auto;
            padding: 100rem 10rem;
            h4{
                font-size: 30px;
                margin-bottom: 24rem;
            }
            ul{
                margin-bottom: 24rem;
                li{
                    margin-bottom: 16rem;
                }
            }
            form{
                .fpt-form-field{
                    margin-bottom: 46rem;
                    h6{
                        font-size: 14rem;
                        line-height: 1.5;
                        color: #ffffff;
                        margin-bottom: 20rem;
                    }
                    input{
                        padding: 10rem 5rem;
                    }
                    select{
                        padding: 10rem 5rem;
                    }
                    textarea{
                        padding: 10rem 5rem;
                        height: 120rem;
                        resize: none;
                    }
                }
                article{
                    display: block;
                    .fpt-form-field{
                        width: 100%;
                    }
                }
    
            }
        }
        .fpt-b-right{
            width: 100%;
            position: relative;
            height: 300rem;
        }
    }
    
    #program-detail-full-page{
        section{
            // margin-bottom: 70rem;
            .fpt-b-container{
                .fpt-b-head{
                    h3{
                        font-size: 28rem;
                    }
                }
    
            }
        }
    }
    

}


