<h2>Contact from website</h2>
<p>Fullname: {{name}}</p>
<p>Phone: {{phone}}</p>
<p>Birthday: {{birthday}}</p>
<p>Email: {{email}}</p>
<p>Province: {{city}}</p>
<p>School: {{department}}</p>
<p>Major: {{major}}</p>
<p>Campus: {{campus}}</p>
