<div class="fpt-column-cp" style="background-color: {{color}};">
    <div class="fpt-img">
        <figure>
            <lottie-player
                src="{{ lottie | media}}"  background="transparent"  speed="1" loop autoplay >
            </lottie-player>
        </figure>
    </div>
    <div class="fpt-content">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="{{discoverUrl}}" class="fpt-button customLink">{{'Discover' |_}}</a>
    </div>
</div>
