==
<div class="confirm-container"></div>
<form class="flexiContactForm" role="form" data-request="{{ contactForm  }}::onMailSent"
    data-request-update="'{{ contactForm  }}::confirm': '.confirm-container'">
    <div class="fpt-form-field">
        <h6>{{'Full Name' |_}}</h6>
        <input type="text" name="name" required placeholder="{{ 'Enter you full name '|_}} *">
    </div>
    <article>
    <div class="fpt-form-field">
            <h6>{{'Phone Number' |_}}</h6>
            <input type="text" name="phone" required placeholder="{{ 'Enter your phone number '|_}} *">
        </div>
        <div class="fpt-form-field">
            <h6>{{'Birthday' |_}}</h6>
            <input type="date" name="birthday" required placeholder="{{ 'Enter your birthday '|_}} *">
        </div>
    </article>
    <article>
    <div class="fpt-form-field">
            <h6>{{'Email' |_}}</h6>
            <input type="email" name="email" required placeholder="{{ 'Enter your email '|_}} *">
        </div>
        <div class="fpt-form-field">
            <h6>{{'City' |_}}</h6>
            <select id="city" name="city" data-request="onFilterSchools" data-request-update="department: '#department'"> data-request-success="console.log(data)">
                <option value="0" disabled selected>-- {{ 'Choose City' |_}} --</option>
                {% for province in dataContact['provinces'] ?? [] %}
                    <option value="{{ province.label }}">{{ province.label }}</option>
                {% endfor %}
            </select>
        </div>
     </article>
     <div class="fpt-form-field">
        <h6>{{'School' |_}}</h6>
        <select name="department" id="department">
            {% partial 'department' %}
        </select>
    </div>
    <div class="fpt-form-field">
        <h6>{{'Major' |_}}</h6>
        <select name="major">
            {% for major in dataContact['major'] %}
                <option value="{{ major.label }}">{{ major.label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="fpt-form-field">
        <h6>{{'Campus' |_}}</h6>
        <select name="campus">
            {% for campus in dataContact['campus'] %}
                <option value="{{ campus.label }}">{{ campus.label }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="fpt-button"  type="submit"> {{ 'Send' |_ }}</button>
</form>
