description = "footer"
[General]
==

<footer>
    <div class="fpt-b-container">
        <div class="fpt-left">
            <a href="https://hcmuni.fpt.edu.vn/" target="_blank">
                <img src="{{general.logoFooter.path}}" alt="fpt logo">
            </a>
        </div>
        <div class="fpt-right">
            <div class="fpt-sns">
                <span>{{'Follow Us at' |_}}</span>

                <ul>
                    {% for item in general.sns %}
                    <li>
                        <a href="{{item.url}}" target="_blank">
                            <img src="{{item.icon | media}}" alt="sns">
                        </a>
                    </li>

                    {% endfor %}
    
                 
                </ul>
            </div>
            <p>Copyright @ 2020 Digital Art & Design</p>
        </div>
    </div>
</footer>