<a href="{{url}}" class="fpt-b-gridBox customLink">
    <div class="fpt-bg" style="background-color: {{bgColor}};"></div>

    <div class="fpt-img" style="background-color: {{bgColor}};">
        <img src="{{bg}}" alt="background">
    </div>
    <h5>{{title}}</h5>
    {% if date is defined %}
    <h6>{{date}}</h6>
    {% endif %}

    <div class="fpt-pos">
        {% for item in categories %}
        {% if item.slug != 'featured-project' %}
        <span style="background-color: {{item.color}};">{{item.name}}</span>
        {% endif %}

        {% endfor %}
    </div>
</a>