description = "header"
[General]
[Career]
==
<header>
    <div class="fpt-head">
        <div class="fpt-left">
            <a href="{{ 'home' | page}}" class="customLink">
                <img class="mobile-hide" src="{{ 'assets/images/logo-color.png' | theme}}" alt="logo">
                <img class="desktop-hide" src="{{'assets/images/logo-mobile.png' | theme}}" alt="logo">
                <img class="fpt-logo-no-text" src="{{'assets/images/logo-white-non-text.png' | theme}}" alt="logo">
            </a>
            <div class="fpt-menu">
                <a href="#" class="hamburger js-open-nav">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <h6>{{'Menu' |_}}</h6>
            </div>
        </div>
    </div>
</header>

<div class="fpt-nav">
    <a href="#" class="fpt-close js-close-nav">
        <span></span>
        <span></span>
    </a>
    <div class="fpt-head">
        <div class="fpt-left">
            <a href="{{ 'home' | page}}">
                <img class="mobile-hide" src="{{ 'assets/images/logo-color.png' | theme}}" alt="logo">
                <img class="desktop-hide" src="{{'assets/images/logo-mobile.png' | theme}}" alt="logo">
            </a>
            <div class="fpt-menu">
                <div class="hamburger disalbed">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <h6>{{'Menu' |_}}</h6>
            </div>
        </div>

        <div class="fpt-right">
            <ul>
                <li>
                    <a href="#" {% if activeLocale == 'vi'  %} class='active' {% endif %} data-request="onSwitchLocale"
                        data-request-data="locale: 'vi'">
                        {{'Vi'|_}}
                    </a>
                </li>
                <li>
                    <a href="#" {% if activeLocale == 'en' %} class='active' {% endif %} data-request="onSwitchLocale"
                        data-request-data="locale: 'en'">
                        {{'En'|_}}
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="fpt-body">
        <div class="mobile-hide">
            <div class="fpt-menu-list">
                <ul>
                    <li>
                        <a href="{{ 'program' | page}}" class="customLink">{{'Program' |_}}</a>
                        <p>{{'D.A.D Program' |_}}</p>
                    </li>
                    <li>
                        <a href="{{ 'news' | page}}" class="customLink">{{'News' |_}}</a>
                        <p>{{'update with us' |_}}</p>
                    </li>

                    <li>
                        <a href="{{ 'career' | page}}" class="customLink">{{'Careers'|_}} </a>
                        <p>{{'new opportunities' |_}}</p>
                    </li>

                </ul>
                <ul>
                    <li>
                        <a href="{{ 'project' | page}}" class="customLink"> {{'Projects' |_}}</a>
                        <p>{{'work hard & play hard' |_}}</p>
                    </li>
                    <li>
                        <a href="{{ 'student' | page}}" class="customLink">{{'Students' |_}}</a>
                        <p>{{'creative, ambitous & unique' |_}}</p>
                    </li>
                    <li>
                        <a href="{{ 'register' | page}}" class="customLink">{{'Register' |_}}</a>
                        <p>{{'we’d love to hear from you' |_}}</p>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="{{ 'lecturer' | page}}" class="customLink">{{'Lecturers' |_}} </a>
                        <p>{{'pro, unique & humble' |_}}</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="desktop-hide">
            <div class="fpt-menu-list">
                <ul>
                    <li>
                        <a href="{{ 'program' | page}}" class="customLink">{{'Program' |_}}</a>
                        <p>{{'D.A.D Program' |_}}</p>
                    </li>
                    <li>
                        <a href="{{ 'project' | page}}" class="customLink"> {{'Projects' |_}}</a>
                        <p>{{'work hard & play hard' |_}}</p>
                    </li>
                    <li>
                        <a href="{{ 'news' | page}}" class="customLink">{{'News' |_}}</a>
                        <p>{{'update with us' |_}}</p>
                    </li>
                    <li>
                        <a href="{{ 'student' | page}}" class="customLink">{{'Students' |_}}</a>
                        <p>{{'creative, ambitous & unique' |_}}</p>
                    </li>
                    <li>
                        <a href="{{ 'lecturer' | page}}" class="customLink">{{'Lecturers' |_}} </a>
                        <p>{{'pro, unique & humble' |_}}</p>
                    </li>
                    <li>
                        <a href="{{ 'career' | page}}" class="customLink">{{'Careers'|_}} </a>
                        <p>{{'new opportunities' |_}}</p>
                    </li>
                    <li>
                        <a href="{{ 'register' | page}}" class="customLink">{{'register' |_}}</a>
                        <p>{{'we’d love to hear from you' |_}}</p>
                    </li>
                </ul>
            </div>
        </div>


    </div>

    <div class="fpt-foot">
        <div class="fpt-b-news">
            <h4>{{'Latest News' |_}}</h4>
            <ul>
                {% for item in newsPost3 %}
                <li>
                    <span style="background-color: {{item.categories[0].color}};">{{item.categories[0].name}}</span>
                    <a href="{{'news-detail' | page ({slug: item.slug})}}" class="customLink">
                        <h6>{{item.title}}</h6>
                        <p>{{item.created_at | date("m/d/Y")}}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="fpt-b-news">
            <h4>{{'Latest Careers' |_}}</h4>
            <ul>
                {% for item in careerPost3 %}
                <li>
                    <a href="{{'career-detail' | page ({slug: item.slug})}}" class="customLink">
                        <h6>{{item.title}}</h6>
                        <p>{{item.created_at | date("m/d/Y")}}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="fpt-contact">
    <a href="{{ 'register' | page}}" class="customLink">
        <img src="{{'assets/images/ic-apply.png' | theme}}" alt="contact">
        <span>{{'Register Now' |_}}</span>
        
    </a>
    <a href="tel: {{general.phone}}">
        <img src="{{'assets/images/ic-hotline.png' | theme}}" alt="contact">
        <span> {{general.phone}}</span>

       
    </a>
</div>