<section class="section fpt-s-section fpt-s-exihibition fp-auto-height-responsive">
    <a href="#" class="fpt-slide-arrow js-left"  data-slidername="news">
        <img src="{{'assets/images/arrow-left.png' | theme}}" alt="arrow">
    </a>
    <a href="#" class="fpt-slide-arrow js-right"  data-slidername="news">
        <img src="{{'assets/images/arrow-right.png' | theme}}" alt="arrow">
    </a>

    <div class="fpt-slider">

        {% for item in newsHighLight %}
        {% if loop.index == 1 %}
        <div class="fpt-b-main-content isActive">
            <div class="fpt-b-right">
                {%
                partial "image"
                video=item.video_banner
                src=item.thumb.path
                color=item.color
                %}
            </div>
            <div class="fpt-b-left">
                {%
                partial "introLeftsite"
                title=item.title
                categories=item.categories
                subTitle= item.created_at | date("d-m-yy")
                description= item.short_des
                discoverUrl='news-detail' | page ({slug: item.slug })
                discoverText="Discover us"
                %}
            </div>

        </div>
        {% else %}
        <div class="fpt-b-main-content">
            <div class="fpt-b-right">
                {%
                partial "image"
                video=item.video_banner
                src=item.thumb.path
                color=item.color
                %}
            </div>

            <div class="fpt-b-left">
                {%
                partial "introLeftsite"
                title=item.title
                categories=item.categories
                subTitle= item.created_at | date("d-m-yy")
                description= item.short_des
                discoverUrl='news-detail' | page ({slug: item.slug })
                discoverText="Discover us"
                %}
            </div>

        </div>
        {% endif %}
        {% endfor %}

    </div>
    <ul class="animation-bg">
        {% for item in newsHighLight %}
        {% if loop.index == 1 %}
        <li class="isActive" style="background-color: {{item.color}};"></li>
        {% else %}
        <li style="background-color: {{item.color}};"></li>
        {% endif %}
        {% endfor %}
    </ul>


</section>
