<section class="section active fpt-s-section fpt-s-hero fp-auto-height-responsive">

    <div class="fpt-paralax-bg-wrapper">
        {% for item in homepage.hero_content %}
        {% if loop.index == 1 %}
        <div class="fpt-paralax-bg isActive" style="background-color: {{item.backgroundColor}}">
            <figure>
                <lottie-player
                    src="{{ item.lottie | media}}"  background="transparent"  speed="1" loop autoplay >
                </lottie-player>
            </figure>
        </div>
        {% else %}
        <div class="fpt-paralax-bg" style="background-color: {{item.backgroundColor}}">
            <figure>
                <lottie-player
                    src="{{ item.lottie | media}}"  background="transparent"  speed="1" loop autoplay >
                </lottie-player>
            </figure>
        </div>
        {% endif %}
        {% endfor %}

        <div id="fpt-box">
            {% for item in homepage.hero_content %}
            <a href="{{'program-detail' | page ({slug: item.program_slug })}}" class="fpt-pj-button customLink position-{{loop.index}}" style="background-image: url({{item.circle_bg | media}});" data-id="{{loop.index}}">
                {{item.title}}
            </a>
            {% endfor %}
        </div>

    </div>

    <div class="fpt-b-content">
        <div class="fpt-b-left">
            {%
                partial "introLeftsite"
                title=homepage.hero_title
                description=homepage.hero_des
                discoverUrl=homepage.hero_url
                discoverText='Discover us' |_
            %}
        </div>
    </div>




</section>
