
{% if video | length > 0 %}
<div class="video-background">
    <div class="video-foreground">
        <iframe frameborder="0" allowfullscreen="1"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen 
        data-autoplay
        mute
        src="https://www.youtube.com/embed/{{video}}?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1"></iframe>
    </div>
</div>
{% else %}
<div class="fpt-image" style="background-color: {{color}}; background-image:url({{src}})"></div>
{% endif %}