<div class="fpt-left-content">
    {% if title is defined %}
    <div class="animaiton-wrap title">
        <h2>{{title}}</h2>
    </div>
    {% endif %}
    <div class="animaiton-wrap">
        <div class="sub-content">
            {% for item in categories %}
             {% if item.slug != 'featured-project' %}
                <div class="fpt-category" style="background-color: {{ item.color }};">{{ item.name }}</div>
                {% endif %}
                {% endfor %}

            {% if subTitle is defined %}
            <h6>{{subTitle}}</h6>
            {% endif %}

            {% if student is defined %}
            <ul>
                <li>
                    <span>{{'Student' |_}}</span>
                    <span>{{student}}</span>
                </li>
                <li>
                    <span>{{'Lecturer' |_}}</span>
                    <span>{{lecturer}}</span>
                </li>
            </ul>
            {% endif %}
            {% if jobInfo is defined %}
            <ul class="job-info">
                {% for item in jobInfo%}
                <li>
                    <span>{{item.title}}</span>
                    <span>{{item.name}}</span>
                </li>

                {% endfor%}
            </ul>
            {% endif %}
            {% if description is defined %}
            <div class="fpt-b-editor">
                <p>{{description | raw}}</p>

            </div>
            {% endif %}

        </div>
    </div>


    {% if discoverUrl is defined %}
    <div class="animaiton-wrap">
        <a href="{{discoverUrl}}" class="fpt-button customLink">{{discoverText |_}}</a>
    </div>
    {% endif %}
</div>
