==

{% if newsPost|length > 0 %}
<div class="fpt-b-items">
    {% for item in newsPost %}
    <div class="fpt-item">
        {%
        partial "gridBox"
        bg=item.thumb.path
        bgColor= item.color
        title= item.title
        date=item.created_at | date("d/m/yy")
        url='news-detail' | page ({slug: item.slug })
        categories=item.categories
        %}
    </div>
    {% endfor %}

</div>
{% endif %}
