<div
    class="fpt-peopleItem-cp"
    style="background-image: url({{bg}});"
    onMouseOver="this.style.backgroundColor='{{bgColor}}'"
    onMouseOut="this.style.backgroundColor='#e4e4e4'"
>
    <div class="fpt-icon-hover">
        <img src="{{'assets/images/logo-white-icon.png' | theme }}" alt="logo">
    </div>

    <div class="fpt-gradient" style=" background-image: linear-gradient(0, {{bgColor}} 0%, {{bgColor}} 65%, rgba(0, 0, 0, 0) 100%);"></div>
    <div class="fpt-info">
        <span>{{title}}  |  {{className}}</span>
    </div>
    <div class="fpt-content">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <a href="{{discoverUrl}}" class="fpt-button customLink">{{'Discover' |_}}</a>
    </div>
</div>
