==

{% if projectPost|length > 0 %}
<div class="fpt-b-items">
    {% for item in projectPost %}
    <div class="fpt-item">
        {%
        partial "gridBox"
        bg=item.thumb.path
        bgColor= item.color
        title= item.title
        url='project-detail' | page ({slug: item.slug })
        categories=item.categories
        %}
    </div>
    {% endfor %}

</div>
{% endif %}
