<div data-control="toolbar">
    <a href="<?= Backend::url('alipo/cms/contactinfo/export') ?>"
        class="btn btn-primary">Export</a>

    <button class="btn btn-danger oc-icon-trash-o" disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete" data-request-confirm="Are you sure you want to delete the selected Contact Infos?"
        data-trigger-action="enable" data-trigger=".control-list input[type=checkbox]" data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')" data-stripe-load-indicator>
        Delete selected
    </button>
</div>