title = "Career | FPT"
url = "/career"
layout = "Default"
is_hidden = 0
[Careercategory]
[General]
==
<?php
    function onStart(){
        $this->page->bodyClass = "careerPage";
    }
?>
==
<section class="fpt-s-career-page fpt-s-grid-column">
    <div class="fpt-b-items">
        {% for item in careerPost %}
        <div class="fpt-item">
            {%
                partial "gridBox" 
                bg=item.thumb.path
                bgColor= item.color
                title= item.title
                url='career-detail' | page ({slug: item.slug }) 
            %}
        </div>
        {% endfor %}
    </div>
</section>
<section class="fpt-s-career-partner">
    <div class="fpt-b-container">
        <div class="fpt-b-head">
            <h3>{{'Partners' | _}}</h3>
        </div>
        <div class="fpt-b-body client-slider">
            {% for item in general.client %}
            <div class="fpt-slide">
                <img src="{{item.path}}" alt="client">
            </div>
            {% endfor %}

        </div>

    </div>
</section>