title = "Career detail"
url = "/career/:slug"
layout = "CareerLayout"
is_hidden = 0

==

<?php
    function onStart(){
        $this->page->bodyClass = "careerDetailPage";
    }
?>
==

<main id="detail-full-page">
    <section class="section fpt-s-section fp-auto-height fpt-s-career-detail-page-hero">
        <div class="fpt-b-main-content isActive">
            <div class="fpt-b-left" style="background-color: {{careerDetail.color}};">
                {% 
                partial "introLeftsite" 
                title= careerDetail.title  
                description=careerDetail.des
                jobInfo=careerDetail.short_des
                %}
            </div>
            <div class="fpt-b-right">
                {% 
                    partial "image" 
                    src=careerDetail.thumb.path
                    video=careerDetail.video_banner
                    color=careerDetail.color
                %}
            </div>
        </div>
    </section>

</main>