title = "Home | FPT"
url = "/"
layout = "Default"
slidercode = "home-page"
is_hidden = 0
[Homepage]
[Project]

==
<?php
    function onStart(){
        $this->page->bodyClass = "homePage";
    }
?>
==

<div class="fpt-arrow">
    <a href="#" class="js-up">
        <img src="{{ 'assets/images/arrow-up.png' | theme}}" alt="arrow">
        <img src="{{ 'assets/images/arrow-up.png' | theme}}" alt="arrow">
    </a>
    <h6 id="fpt-page-title" data-locale="{{activeLocale}}">{{'About us' |_}}</h6>
    <a href="#" class="arrow-down js-down">
        <img src="{{ 'assets/images/arrow-down.png' | theme}}" alt="arrow">
        <img src="{{ 'assets/images/arrow-down.png' | theme}}" alt="arrow">
    </a>
</div>

<main id="home-full-page">
	{% partial 'homeHero' %}
    {% partial 'homeProject' %}
    {% partial 'homeExihibition' %}
</main>
