title = "Lecturer | FPT"
url = "/lecturer"
layout = "Default"
is_hidden = 0
[Lecturer]
==
<?php
    function onStart(){
        $this->page->bodyClass = "lecturerPage";
    }
?>
==
<section class="fpt-s-student-page fpt-s-column-layout">
    {% for item in lecturerPost4 %}
    <div class="fpt-b-col">
        {% 
            partial "peopleItem" 
            bg= item.thumb.path
            bgColor=item.color
            title=item.name
            className=""
            description= item.short_des
            discoverUrl= 'lecturer-detail' | page ({slug: item.slug})
        %}
    </div>
    {% endfor %}

</section>