title = "News | FPT"
url = "/news"
layout = "Default"
is_hidden = 0
[News]
[Newscategory]
==

<?php
    function onStart(){
        $this->page->bodyClass = "newsPage";
    }
    function onFilterSearch(){
        $this->page['newsPost']= Post::where('title', 'like', '%'.input('keyword').'%')->get();
        return[
            'newsPost' => $this->page['newsPost']
        ];
     }
?>
==


<section class="fpt-s-news-page fpt-s-grid-column">
    <div id="result">
        {% partial "news-search" %}
    </div>
    <div class="fpt-b-filter">
        <ul>
            <li class="isActive">
                <button data-request="News::onFilterCategory" data-request-data="categorySlug: 'all'"
                    data-request-update="'news-search': '#result'"
                    data-request-success="$(this).parent().siblings().removeClass('isActive'); $(this).parent().addClass('isActive')"
                    style="background-color: #c5c5c5;">{{'All' |_}}</button>
            </li>
            {% for item in categoriesNews %}
            <li>
                <button data-request="News::onFilterCategory" data-request-data="categorySlug: '{{ item.slug }}'"
                    data-request-update="'news-search': '#result'"
                    data-request-success="$(this).parent().siblings().removeClass('isActive'); $(this).parent().addClass('isActive')"
                    style="background-color: {{item.color}};">{{item.name}}</button>
            </li>
            {% endfor %}
        </ul>
        <form data-request="News::onFilterSearch" data-request-update="'news-search': '#result'">
            <input type="text" name="keyword" placeholder="Search">
            <button type="submit">
                <img src="{{'assets/images/icon-search.png' | theme}}" alt="icon">
            </button>
        </form>
    </div>
</section>