title = "Program | FPT"
url = "/program"
layout = "Default"
is_hidden = 0
[Program]
==

<?php
    function onStart(){
        $this->page->bodyClass = "programPage";
}
?>
==

<section class="fpt-s-program-page fpt-s-column-layout">

    {%  for item in programPost4 %}
    <div class="fpt-b-col">
        {%
            partial "columnCp"
            lottie=item.content_1
            title=item.title
            description=item.description
            color= item.color
            discoverUrl= 'program-detail' | page ({slug: item.slug})
        %}
    </div>
    {% endfor %}

</section>
