title = "Program Detail | FPT"
url = "/program/:slug"
layout = "ProgramLayout"
is_hidden = 0

==
<?php
    function onStart(){
        $this->page->bodyClass = "programDetailPage";
    }
?>
==
<main id="program-detail-full-page">
    <section class="section active fpt-s-program-detail-hero fpt-s-hero"
        style="background-color: {{programDetail.color}};">
        <div class="fpt-b-main-content isActive">
            <div class="fpt-paralax-bg-wrapper">
                <div class="fpt-paralax-bg isActive" style="background-color: {{programDetail.color}}">
                    <figure>
                        <lottie-player src="{{ programDetail.lottie | media}}" background="transparent" speed="1" loop
                            autoplay>
                        </lottie-player>
                    </figure>
                </div>

            </div>
            <div class="fpt-b-left animationIsActive">
                {%
                    partial "introLeftsite"
                    title=programDetail.content_2
                    description=programDetail.description
                %}
            </div>

        </div>

        <div class="fpt-down">
            <a href="#career-prospect">{{'discover' |_}}</a>
        </div>
    </section>
    <section class="section fp-auto-height fpt-s-career-prospect">
        <div class="fpt-b-container">
            <ul id="#menu-detail" class="mobile-hide">
                <li>
                    <a href="#career-prospect">{{'Career Prospect' |_}}</a>
                </li>
                <li>
                    <a href="#career-path">{{'Career Path' |_}}</a>
                </li>
                <li>
                    <a href="#different-training">{{'Different Training' |_}}</a>
                </li>
                <li>
                    <a href="#program-training">{{'Program Training' |_}}</a>
                </li>
                <li>
                    <a href="#register">{{'Register' |_}}</a>
                </li>
            </ul>

            <select name="forma" onchange="location = this.value;" class="fpt-select desktop-hide">
                <option value="#career-prospect">{{'Career Prospect' |_}}</option>
                <option value="#career-path">{{'Career Path' |_}}</option>
                <option value="#different-training">{{'Different Training' |_}}</option>
                <option value="#program-training">{{'Program Training' |_}}</option>
                <option value="#register">{{'Register' |_}}</option>
            </select>

            <div class="fpt-b-head">
                <h3>{{'Career Prospect' |_}}</h3>
            </div>
            <div class="fpt-b-body fpt-b-editor">
                {{ programDetail.content | raw}}
            </div>
        </div>
    </section>

    <section class="section fp-auto-height fpt-career-path">
        <div class="fpt-b-container">
            <div class="fpt-b-head">
                <h3>{{'Career Opportunities' |_}}</h3>
            </div>
            <div class="fpt-b-body">

                <div class="fpt-team-slider team-slider">
                    {% for item in programDetail.careers %}
                    <div class="fpt-item">
                        <img src="{{item.career_image| media}}" alt="Career Opportunities">
                        <h5>{{item.career_title}}</h5>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="section fp-auto-height fpt-s-different-training">
        <div class="fpt-b-container">
            <div class="fpt-b-head">
                <h3>{{'Different Training' |_}}</h3>
            </div>
            <div class="fpt-b-body fpt-b-editor">
                {{programDetail.training | raw}}
            </div>
        </div>

    </section>
    <section class="section fp-auto-height fpt-s-program-training">
        <div class="fpt-b-container">
            <div class="fpt-b-head">
                <h3>{{'Program Training' |_}}</h3>
            </div>
            <div class="fpt-b-body">
                {% for item in programDetail.program %}
                <div class="fpt-item">
                    <div class="fpt-left" style="background-color: {{programDetail.color}};">
                        <h6>{{item.program_title}}</h6>
                    </div>
                    <div class="fpt-right">
                        {{item.program_content | raw}}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
    <section class="section fp-auto-height fpt-s-register">
        <div class="fpt-b-container">
            <div class="fpt-b-head">
                <h3>{{'Are you ready to become a D.A.D student?' |_}}</h3>
            </div>
            <div class="fpt-b-body">
                <a href="{{'contact' | page}}" class="fpt-btn customLink"
                    style="background-color: {{programDetail.color}};">{{'Apply now' |_}}</a>
            </div>
        </div>

    </section>

    {% if featuredProjectPrograme | length > 0 %}
    <section class="section fp-auto-height fpt-s-laster-news">
        <div class="fpt-b-container">
            <div class="fpt-b-head">
                <h3>{{'Featured Projects' |_}}</h3>
            </div>
            <div class="fpt-b-body">
                {% for item in featuredProjectPrograme %}

                {% if loop.index <= 3 %}
                <div class="fpt-item">
                    <a href="{{ 'project-detail' | page ({slug: item.slug})}}" class="customLink">
                        <img src="{{item.thumb.path }}" alt="program">
                        <h5>{{item.title}}</h5>
                        <div class="fpt-overlay"
                            style="background-image: linear-gradient(0, {{item.color}} 0, rgba(0,0,0,0) 100%);"></div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>

    </section>
    {% endif %}

</main>