title = "Project detail"
url = "/project/:slug"
layout = "ProjectLayout"
is_hidden = 0

==
<?php
    function onStart(){
        $this->page->bodyClass = "projectDetailPage";
    }
?>
==
<main id="project-detail-full-page">
    <section class=" section active fpt-s-section fpt-s-project-detail-page-hero">
        <div class="fpt-b-main-content isActive">
            <div class="fpt-b-right">
                {%
                    partial "image"
                    src=projectDetail.thumb.path
                    video=projectDetail.video_banner
                    color=projectDetail.color
                %}
            </div>
            <div class="fpt-b-left animationIsActive" style="background-color: {{projectDetail.color}};">
                {%
                partial "introLeftsite"
                title= projectDetail.title
                categories=projectDetail.categories
                student=projectDetail.authors[0].author_name
                lecturer=projectDetail.authors[1].author_name
                description= projectDetail.description
            %}
                <div class="fpt-down">
                    <a href="#content">{{'discover' |_}}</a>
                </div>
            </div>

        </div>
    </section>

    <section class="section fp-auto-height fpt-s-project-detail-content  fpt-s-detail-content">
        <div class="fpt-b-container">
            <div class="fpt-b-head">
                <ul class="mobile-hide">
                    {% for item in projectDetail.content %}
                    {% set blockType = item.block_type  %}
                    {% if blockType == '1' %}
                    <li>
                        <a href="#{{item.title_slug}}">{{item.title}}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>

                <select name="forma" onchange="location = this.value;" class="fpt-select desktop-hide">
                    {% for item in projectDetail.content %}
                    {% set blockType = item.block_type  %}
                    {% if blockType == '1' %}
                    <option value="#{{item.title_slug}}">{{item.title}}</option>

                    {% endif %}
                    {% endfor %}
                </select>

            </div>
            <div class="fpt-b-body fpt-b-editor">
                {% for item in projectDetail.content %}
                {% set blockType = item.block_type  %}
                {% if blockType == '1' %}
                <div class="title" id="{{item.title_slug}}">
                    <h3>{{item.sub_title}}</h3>
                </div>
                {% elseif blockType == '2'  %}
                <div class="img fpt-row">
                    <img src="{{item.full_image | media}}" alt="image">
                </div>
                {% elseif blockType == '3'  %}
                <div class="text-img fpt-row">
                    <article class="text-box">
                        {{item.left_text | raw}}
                    </article>
                    <article class="js-img-popup">
                        <img src="{{item.right_image | media}}" alt="image">
                    </article>
                </div>
                {% elseif blockType == '4'  %}
                <div class="text-img fpt-row">
                    <article class="js-img-popup">
                        <img src="{{item.left_image | media}}" alt="image">
                    </article>
                    <article class="text-box">
                        {{item.right_text | raw}}
                    </article>
                </div>
                {% elseif blockType == '5'  %}
                <div class="img-img fpt-row">
                    <article class="js-img-popup">
                        <img src="{{item.left_image | media}}" alt="image">
                    </article>
                    <article class="js-img-popup">
                        <img src="{{item.right_image | media}}" alt="image">
                    </article>
                </div>
                {% elseif blockType == '6'  %}
                <div class="img-img-img-img fpt-row">
                    <article class="js-img-popup">
                        <img src="{{item.left_image | media}}" alt="image">
                    </article>
                    <article class="js-img-popup">
                        <img src="{{item.left_image_2 | media}}" alt="image">
                    </article>
                    <article class="js-img-popup">
                        <img src="{{item.right_image | media}}" alt="image">
                    </article>
                    <article class="js-img-popup">
                        <img src="{{item.right_image_2 | media}}" alt="image">
                    </article>
                </div>
                {% elseif blockType == '7'  %}
                <div class="img-img-img fpt-row">
                    <article class="js-img-popup">
                        <img src="{{item.left_image | media}}" alt="image">
                    </article>
                    <article class="js-img-popup">
                        <img src="{{item.right_image | media}}" alt="image">
                        <img src="{{item.right_image_2 | media}}" alt="image">
                    </article>
                </div>
                {% elseif blockType == '8'  %}
                <div class="video fpt-row">
                    <article>
                        <iframe src="https://player.vimeo.com/video/{{item.full_vimeo_id}}" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                    </article>
                </div>
                {% elseif blockType == '9'  %}
                <div class="text-video fpt-row">
                    <article class="text-box">
                        {{item.left_text | raw}}
                    </article>
                    <article>
                        <iframe src="https://player.vimeo.com/video/{{item.right_vimeo_id}}" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </article>
                </div>
                {% elseif blockType == '10'  %}
                <div class="text-video fpt-row">
                    <article>
                        <iframe src="https://player.vimeo.com/video/{{item.left_vimeo_id}}" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </article>
                    <article class="text-box">
                        {{item.right_text | raw}}
                    </article>
                </div>
                {% elseif blockType == '11'  %}
                <div class="text-video fpt-row">
                    <article>
                        <iframe src="https://player.vimeo.com/video/{{item.left_vimeo_id}}" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </article>
                    <article>
                        <iframe src="https://player.vimeo.com/video/{{item.right_vimeo_id}}" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </article>
                </div>
                {% elseif blockType == '12'  %}
                <div class="full-text fpt-row">
                    <article>
                        {{item.full_text | raw}}
                    </article>
                </div>
                {% elseif blockType == '13'  %}
                <div class="full-text-2-cols fpt-row">
                    <article>
                        {{item.full_text | raw}}
                    </article>
                </div>
                {% elseif blockType == '14'  %}
                <div class="video fpt-row">
                    <article>
                        <iframe src="https://www.youtube.com/embed/{{item.youtube_id_full}}" frameborder="0"
                            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </article>
                </div>
                {% elseif blockType == '15'  %}
                <div class="text-video fpt-row">
                    <article>
                        <iframe src="https://www.youtube.com/embed/{{item.youtube_id_left}}" frameborder="0"
                            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </article>
                    <article class="text-box ">
                        {{item.right_text | raw}}
                    </article>

                </div>

                {% elseif blockType == '16'  %}
                <div class="text-video fpt-row">
                    <article class="text-box">
                        {{item.left_text | raw}}
                    </article>

                    <article>
                        <iframe src="https://www.youtube.com/embed/{{item.youtube_id_right}}" frameborder="0"
                            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </article>
                </div>
                {% elseif blockType == '17'  %}
                <div class="text-video fpt-row">
                    <article>
                        <iframe src="https://www.youtube.com/embed/{{item.youtube_id_left}}" frameborder="0"
                            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </article>
                    <article>
                        <iframe src="https://www.youtube.com/embed/{{item.youtube_id_right}}" frameborder="0"
                            webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                    </article>
                </div>
                {%endif%}
                {% endfor %}
            </div>

        </div>
    </section>
    <section class="section fp-auto-height fpt-s-laster-news">
        <div class="fpt-b-container">
            <div class="fpt-b-head">
                <h3>{{'Featured Projects' |_}}</h3>
            </div>
            <div class="fpt-b-body">
                {% for item in lastestProject3  %}
                <div class="fpt-item">
                    <a href="{{'project-detail' | page ({slug: item.slug})}}" class="customLink">
                        <img src="{{item.thumb.path}}" alt="related">
                        <h5>{{item.title}}</h5>
                        <div class="fpt-overlay"
                            style="background-image: linear-gradient(0, {{item.color}} 0, rgba(0,0,0,0) 100%);"></div>

                    </a>
                </div>
                {% endfor  %}
            </div>
        </div>

    </section>
</main>