title = "Project | FPT"
url = "/project"
layout = "Default"
is_hidden = 0
[Project]
[Projectcategory]
==
<?php
    function onStart(){
        $this->page->bodyClass = "projectPage";
    }
?>
==
<section class="fpt-s-project-page fpt-s-grid-column">

    <div id="result">
        {% partial "project-search" %}
    </div>
    <div class="fpt-b-filter">
        <ul>
            {% for item in categoriesProject %}
            {% if item.slug != 'featured-project' %}

            {% if item.slug == '2d-animation' %}
            <li class="isActive">
                <button data-request="Project::onFilterCategory" data-request-data="categorySlug: '{{ item.slug }}'"
                    data-request-update="'project-search': '#result'"
                    data-request-success="$(this).parent().siblings().removeClass('isActive'); $(this).parent().addClass('isActive')"
                    style="background-color: {{item.color}};">{{item.name}}</button>
            </li>
            {% else %}
            <li>
                <button data-request="Project::onFilterCategory" data-request-data="categorySlug: '{{ item.slug }}'"
                    data-request-update="'project-search': '#result'"
                    data-request-success="$(this).parent().siblings().removeClass('isActive'); $(this).parent().addClass('isActive')"
                    style="background-color: {{item.color}};">{{item.name}}</button>
            </li>
            {% endif %}

            {% endif %}

            {% endfor %}

        </ul>
        <form data-request="Project::onFilterSearch" data-request-update="'project-search': '#result'">
            <input type="text" name="keyword" placeholder="Search">
            <button type="submit">
                <img src="{{'assets/images/icon-search.png' | theme}}" alt="icon">
            </button>
        </form>
    </div>
</section>