title = "Contact | FPT"
url = "/register"
layout = "Default"
is_hidden = 0
[General]

==
<?php
    function onStart(){
        $this->page->bodyClass = "contactPage";
    }
?>
==


<main>
    <section class="fpt-s-section fpt-s-contact-page">
        <div class="fpt-b-left">
            <h4>{{'FPT University' |_}}</h4>
            <ul>
                <li>
                    <a href="https://www.google.com/maps?q={{general.address}}" style="background-image: url({{'assets/images/icon-address.png' | theme}});">{{general.address}}</a>
                </li>
                <li>
                    <a href="tel: {{general.phone}}" style="background-image: url({{'assets/images/icon-phone-contact.png' | theme}});">{{general.phone}}</a>
                </li>
                <li>
                    <a href="mailto: {{general.email}}" style="background-image: url({{'assets/images/icon-email.png' | theme}});">{{general.email}}</a>
                </li>
            </ul>
            {% partial "contact-form" %}
        </div>
        <div class="fpt-b-right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.6009519944096!2d106.80704531480143!3d10.84181919227719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752731176b07b1%3A0xb752b24b379bae5e!2zxJDhuqFpIGjhu41jIEZQVCBUUC5IQ00!5e0!3m2!1sen!2s!4v1586090717749!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </section>

</main>

<script>
    (function (s, u, b, i, z) {
        u[i] = u[i] || function () {
            u[i].t = +new Date();
            (u[i].q = u[i].q || []).push(arguments);
        };
        z = s.createElement('script');
        var zz = s.getElementsByTagName('script')[0];
        z.async = 1; z.src = b; z.id = 'subiz-script';
        zz.parentNode.insertBefore(z, zz);
    })(document, window, 'https://widgetv4.subiz.com/static/js/app.js', 'subiz');
    subiz('setAccount', 'acpylavefyuxbrk9c763');
</script>