title = "Student | FPT"
url = "/student"
layout = "Default"
is_hidden = 0
[Student]
==
<?php
    function onStart(){
        $this->page->bodyClass = "studentPage";
    }
?>
==
<section class="fpt-s-student-page fpt-s-column-layout">
    {% for item in studentPost4 %}
    <div class="fpt-b-col">
        {% 
            partial "peopleItem" 
            bg= item.thumb.path
            bgColor=item.color
            title=item.name
            className=""
            description= item.short_des
            discoverUrl= 'student-detail' | page ({slug: item.slug})
        %}
    </div>
    {% endfor %}
</section>