description = "Detail Page layout"
[localePicker]
forceUrl = 0
[contactForm]
injectBootstrapAssets = 0
injectMainScript = 0
[Studentdetail]

==
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />

    <meta name="author" content="FPT" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="cache-control" content="private">
    <meta http-equiv="Content-Language" content="vi">

    {% if studentDetail %}
    <title>{{ studentDetail.name }}</title>
    <meta name="description" content="{{ studentDetail.short_des }}" />
    <meta name="title" content="{{ studentDetail.name }}" />
    <meta property="og:title" content="{{ studentDetail.title }}" />
    <meta property="og:description" content="{{ studentDetail.short_des }}" />
    <meta property="og:image" content="{{ studentDetail.image.path }}" />
    {% endif %}


    <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/favicon.png'|theme }}" />

    <link href="{{ [
            '@framework.extras',
            'assets/csslb/slick-theme.css',
            'assets/csslb/magnific-popup.min.css',
            'assets/csslb/slick.css',
        ]|theme }}" rel="stylesheet" media="screen" />

    <link href="{{ [
            '@framework.extras',
            'assets/css/main.min.css',
        ]|theme }}" rel="stylesheet" media="screen" />

    {% styles %}

</head>

<body class="{{ this.page.bodyClass }} overflow-hidden">
    <div id="flash-message"></div>

    {% partial "header" %}

    {% page %}

    {% partial "footer" %}

    <div class="fpt-change-page">

    </div>

    <div class="fpt-loading-wrapper">
        <figure>
            <lottie-player id="rocket-change-page" src="{{'assets/animation/DLoadingLoop.json' | theme}}"
                background="transparent" speed="0.5" autoplay loop>
            </lottie-player>
        </figure>
    </div>

    <script src="{{ [
    'assets/script/jquery.min.js',
    '@framework',
    '@framework.extras',
    'assets/script/jquery.fullpage.min.js',
    'assets/script/wait-for-images.js',
    'assets/script/lottie-player.js',
    'assets/script/slick.min.js',
    'assets/script/jquery.magnific-popup.min.js',
    'assets/script/main.min.js',
]|theme }}">
</script>
    {% scripts %}
</body>

</html>